<section class="sec1">
    <div class="mainDiv">
        <div class="carousel">
            <app-carousel [slides]="slide"></app-carousel>
        </div>
        <div class="banksProds">
            <div class="banks">
                <img [src]="banks" alt="">
            </div>
            <div class="lapsTels">
                <div>
                    <img [src]="laptop" alt="">
                    <div class="naxva">
                        <h4>Laptops</h4>
                        <p>შენი სამუშაო სივრცე</p>
                        <button>ნახვა</button>
                    </div>
                </div>
                <div>
                    <img [src]="telef" alt="">
                    <div class="naxva">
                        <h4>Smartphones</h4>
                        <p>შენი ახალი სმარტფონი</p>
                        <button>ნახვა</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>