<div class="routes">
  <p>მთავარი</p>
  <span>></span>
</div>
<section>
  <div class="filter">
    <div class="price">
      <div class="name">
        <p>ფასი</p>
        <span>></span>
      </div>
      <form action="">
        <input type="text" placeholder="მინ." />
        <input type="text" placeholder="მაქს." />
      </form>
      <button>ძებნა</button>
    </div>
    <div class="brand">
      <div class="name">
        <p>ბრენდი</p>
        <span>></span>
      </div>
      <div>
        <div>
          <input type="checkbox" name="" id="" />
          <label for="">Asus</label>
        </div>
      </div>
    </div>
    <div class="rating">
        <div class="name">
            <p>რეიტინგი</p>
            <span>></span>
        </div>
      <div>
        <input type="text" placeholder="რეიტინგი" />
      </div>
      <button>ძებნა</button>
    </div>
  </div>
  <div class="prods"></div>
</section>
