@if(getToken){
  
<section class="userProf">
  <div class="profile">
      <div class="imgDiv"><img [src]="img" alt=""></div>
    <div class="infoDiv">
      <div class="name">
        <p>სახელი: {{firstName}}</p>
      </div>
      <div class="gvar">
        <p>გვარი: {{lastName}}</p>
      </div>
      <div class="age">
        <p>ასაკი: {{age}}</p>
      </div>
      <div class="gender">
        <p>გენდერი: {{gender}}</p>
      </div>
      <div class="email">
        <p>მეილი: {{mail}}</p>
      </div>
      <div class="phone">
        <p>ტელეფონი: {{phone}}</p>
      </div>
      <div class="address">
        <p>მისამართი: {{address}}</p>
      </div>
      <div class="zipcode">
        <p>საფოსტო კოდი:{{postalCode}}</p>
      </div>
    </div>
    
    <div class="logOut">
      <button (click)="userOut()">გამოსვლა</button>
    </div>
  </div>
</section>
<section class="passChangeSection">
  <form action="" [formGroup]="chngPass" >
    <div class="oldPass">
      <label for="">ძველი პაროლი</label>
      <input type="text" formControlName="oldPassword">
    </div>
    <div class="newPass">
      <label for="">ახალი პაროლი</label>
      <input type="text" formControlName="newPassword">
    </div>
    <button (click)="makePassChange()">პაროლის შეცვლა</button>
  </form>
</section>
}@else {
  @if (login == false) {
    <router-outlet></router-outlet>
    <section>
      <form class="register" [formGroup]="register" (ngSubmit)="makeRegister()">
        <h4>რეგისტრაცია</h4>
        <div class="inputs">
          <label for="">მომხმარებლის სახელი <span>*</span></label>
          <input type="text" formControlName="firstName"/>
        </div>
        <div class="inputs">
          <label for="">მომხმარებლის გვარი<span>*</span></label>
          <input type="email" formControlName="lastName"/>
        </div>
        <div class="inputs">
          <label for="">ასაკი<span>*</span></label>
          <input type="text" formControlName="age"/>
        </div>
        <div class="inputs">
          <label for="">მეილი<span>*</span></label>
          <input type="text" formControlName="email"/>
        </div><div class="inputs">
          <label for="">პაროლი<span>*</span></label>
          <input type="text" formControlName="password"/>
        </div><div class="inputs">
          <label for="">მისამართი<span>*</span></label>
          <input type="text" formControlName="address"/>
        </div><div class="inputs">
          <label for="">ტელეფონი<span>*</span></label>
          <input type="text" formControlName="phone"/>
        </div><div class="inputs">
          <label for="">საფოსტო კოდი<span>*</span></label>
          <input type="text" formControlName="zipcode"/>
        </div><div class="inputs">
          <label for="">ავატარის ფოტო<span>*</span></label>
          <input type="text" formControlName="avatar"/>
        </div><div class="inputs">
          <label for="">გენდერი<span>*</span></label>
          <input type="text" formControlName="gender"/>
        </div>
        <span class="s1"
          >Your personal data will be used to support your experience throughout
          this website, to manage access to your account, and for other purposes
          described in our
        </span>
        <span class="s2" (click)="privacy()"> კონფიდენციალურობის პოლიტიკა.</span>
        <button class="regbtn" >რეგისტრაცია</button>
        
      </form>
      <div class="alert" [class.showAlert]="showAlert">
        @if(showAcception){
          <div class="alertDiv">
            
            <div class="textDiv green">
              <p>თქვენ წარმატებით გაიარეთ რეგისტაცია!</p>
              <p>გთხოვთ დაადასტუროთ თქვენი ელ-ფოსტის მისამართი</p>
            </div>
            <div class="closeDiv">
              <button (click)="diax()">დიახ</button>
            </div>
          </div>
        }@else if (showRegretion) {
          <div class="alertDiv" [class.showAlert]="showAlert">
            <div class="textDiv red">
              <p>შეცდომა!</p>
              <p>გთხოვთ გადაამოწმოთ შეყვანილი ინფორმაცია</p>
            </div>
            <div class="closeDiv">
              <button (click)="diax()">დიახ</button>
            </div>
          </div>
        }
      </div>
      <div class="enter">
        <h4>შესვლა</h4>
        <span
          >როგორც ჩანს თქვენ არ ხართ ავტორიზირებული მომხმარებელი, რის გამოც მოხვდით
          ამ გვერდზე. გვერდის სანახავათ გთხოვთ გაიაროთ ავტორიზაცია. ან გაიარეთ
          <span>"რეგისტრაცია"</span> ჩვენს ვებგვერდზე და თავიდან სცადეთ გვერდის
          ნახვა
        </span>
        <button (click)="changeSign()">შესვლა</button>
      </div>
    </section>
    } @else{
    <section>
      <form class="register" [formGroup]="signIn" (ngSubmit)="onSubmit()">
        <h4>შესვლა</h4>
        <div class="inputs">
          <label for="">ელფოსტის მისამართი <span>*</span></label>
          <input type="text"  formControlName="email"/>
        </div>
        <div class="inputs">
          <label for="">პაროლი<span>*</span></label>
          <input type="password" formControlName="password"/>
        </div>
        <button class="regbtn">შესვლა</button>
        <div class="remember">
          <div class="r1">
            <input type="checkbox" name="" id="" />
            <span>Remember me</span>
          </div>
          <div class="r2">
            <span>Lost your password?</span>
          </div>
        </div>
      </form>
      <div class="enter">
        <h4>შესვლა</h4>
        <span>
          როგორც ჩანს თქვენ არ ხართ ავტორიზირებული მომხმარებელი, რის გამოც მოხვდით
          ამ გვერდზე. გვერდის სანახავათ გთხოვთ გაიაროთ ავტორიზაცია. ან გაიარეთ
          <span>"რეგისტრაცია"</span> ჩვენს ვებგვერდზე და თავიდან სცადეთ გვერდის
          ნახვა
        </span>
        <button (click)="changeSign()">რეგისტრაცია</button>
      </div>
    </section>
    
    }
}