section {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2dvh;
  .register {
    flex: 1;
    border-right: 1px solid #dcdcdc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      input {
        width: 100%;
        height: 42px;
        border-radius: 0.5em;
        border: 1px solid #e5e5e5;
        background-color: white;
        padding-left: 15px;
        outline: none;
      }
      .ng-valid {
        border: 2px solid green;
        outline: none;
      }
      .ng-untouched {
        border: 2px solid #4267e9;
      }
    }
    .s1 {
      color: #77797b;
    }
    .s2 {
      font-size: 15px;
      cursor: pointer;
    }
    .regbtn {
      height: 42px;
      color: white;
      background-color: #1c61e7;
      border: none;
      border-radius: 0.5em;
      font-weight: 600;
      font-size: 14px;
    }
    .remember {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .r1 {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .r2 {
        color: #1c61e7;
        span {
          cursor: pointer;
        }
        span:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .alert {
    width: 100%;
    height: 400vh;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    z-index: -1;
    opacity: 0%;
    transition: 0.2s;
    .alertDiv {
      width: 30%;
      height: 300px;
      background-color: white;
      border-radius: 0.5em;
      position: relative;
      top: 100px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      opacity: 100%;
      transition: 0.1s;
      z-index: 12;
      .closeDiv {
        button {
          width: 60px;
          height: 42px;
          background-color: #4267e9;
          border-radius: 0.5em;
          color: white;
          font-weight: 600;
          border: none;
          transition: 0.3s;
          cursor: pointer;
        }
        button:hover {
          opacity: 80%;
        }
      }
      .green {
        color: green;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        p:nth-child(1) {
          font-size: 25px;
          font-weight: 600;
        }
      }
      .red {
        color: red;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        p:nth-child(1) {
          font-size: 25px;
          font-weight: 600;
        }
      }
    }
  }
  .showAlert {
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 100%;
    transition: 0.2s;
  }
  .enter {
    height: 300px;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    span span {
      color: red;
    }
    button {
      width: 85px;
      height: 40px;
      color: #4267e9;
      background-color: #dce4fa;
      border: none;
      border-radius: 0.5em;
      font-size: 13px;
      font-weight: 600;
    }
  }
}
.userProf {
  max-width: 1440px;
  width: 100%;
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .imgDiv {
      width: 210px;
      height: 210px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1c61e7;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
    .infoDiv {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  .logOut {
    button {
      width: 100px;
      height: 42px;
      border: none;
      border-radius: 0.5em;
      background-color: #1c61e7;
      color: white;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: 900px) {
  section {
    flex-direction: column-reverse;
  }
}
.passChangeSection {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 100%;
        height: 42px;
        outline: none;
        border: 1px solid #77797b;
        border-radius: 0.5em;
        padding-left: 10px;
      }
    }
    button {
      width: 100px;
      height: 42px;
      background-color: #1c61e7;
      color: white;
      font-weight: 600;
      margin: auto;
      border: none;
      border-radius: 0.5em;
    }
  }
}
