<footer>
    <div class="contact">
        <div>
            <h4>კონტაქტი:</h4>
        </div>
        <div>
            <h4>TEL: 555 551 559</h4>
            <h4>EMAIL: Contact{{dzagluka}}gstore.ge</h4>
        </div>
        <div>
            <h4>Dadiani Street N7, Qarvasla</h4>
        </div>
    </div>
    <div class="brands">
        <h4>ბრენდები</h4>
        @for (item of brandVar; track $index) {
            <p>{{item}}</p>
        }
    </div>
    <div class="gamosadegi">
        <h4>გამოსადეგი ბმულები</h4>
        <p>კონტაქტი</p>
        <p>მიწოდება</p>
        <p>გარანტია</p>
    </div>
    <div class="socials">
        <h4>გვიპოვე სოციალურ ქსელში</h4>
        <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    </div>
</footer>