<section>
  <div class="d1">
    <h1>საგარანტიო ხელშეკრულებია და პირობები</h1>
    <img [src]="warrantyImg" alt="" />
  </div>
  <div class="pirobebiDiv">
    <h3>საგარანტიო პირობები:</h3>
    <p>
      საგარანტიო მომსახურების მისაღებად წარმოდგენილი უნდა იყოს საგარანტიო
      ტალონი, რომელშიც მითითებული უნდა იყოს შეძენის თარიღი, შეძენილი ნივთის
      მოდელი, მომხმარებლის სახელი, გვარი და საკონტაქტო ნომერი.
    </p>
    <p>
      საგარანტიო ტალონის დაკარგვის შემთხვევაში, ტალონი ექვემდებარება აღდგენას
      მომხმარებლის საკონტაქტო ნომრით. საგარანტიო ტალონი აღდგენას ექვემდებარება
      მხოლოდ იმ შემთხვევაში, თუ ნივთს არ აქვს გასული გამყიდველის მიერ დადგენილი
      საგარანტიო ვადა.
    </p>
    <span>საგარანტიო ვალდებულებები არ ვრცელდება:</span>
    <p>– ტალონის გადასწორების შემთხვევაში;</p>
    <p>– მექანიკური ზემოქმედებით გამოწვეული დაზიანების შემთხვევაში;</p>
    <p>– მომხმარებლის ბრალეულობით, მობილურის დაბლოკვის შემთხვევაში;</p>
    <p>
      – სითხის, ორთქლის ან სხვა უცხო სხეულის მოწყობილობაში მოხვედრის
      შემთხვევაში;
    </p>
    <p>
      – მაღაზიისთვის მიმართვის გარეშე ჩატარებული სამუშაოების შემთხვევაში
      (მექანიკური დაზიანება, თვითნებური შეკეთების მცდელობა);
    </p>
    <p>
      – მოწყობილობა მწყობრიდან გამოვიდა ხანძრის, წყალდიდობის, ან სხვა სტიქიური
      უბედურების გამო;
    </p>
    <span>საგარანტიო ვადები და პირობები:</span>
    <p>
      ქარხნული წუნის შემთხვევაში, პროდუქცია გადაცვლას ექვემდებარება გაყიდვის
      დღიდან 7 (შვიდი) კალენდარული დღის განმავლობაში, ამ ვადის გასვლის შემდეგ
      მომხმარებელს უფლება აქვს მოითხოვოს მხოლოდ შეძენილი პროდუქციის შეკეთება
      12(თორმეტი) თვის განმავლობაში.
    </p>
    <p>
      მომხმარებელმა ნივთი უნდა წარადგინოს სრული კომპლექტაციით და გარეგნული
      ზიანის გარეშე.
    </p>
    <p>
      ეკრანებზე გარანტია ვრცელდება მხოლოდ 1 კვირის განმავლობაში, რადგან თუ 1
      კვირის ვადაში სმარტფონს/ლეპტოპს არ აღმოაჩნდა ეკრანის დაზიანება, გარეგანი
      ზიანის გარეშე შეუძლებელია მისი მწყობრიდან გამოსვლა.
    </p>
    <p>
      თუ გამყიდველი ორგანიზაცია, პროდუქციის მიღებიდან 15 (თხუთმეტი) სამუშაო დღის
      განმავლობაში ვერ უზრუნველყოფს დაზიანებული პროდუქციის შეკეთებას, ასეთი
      ნივთი შეიცვლება იმავე სახის ან იმავე ღირებულების ახალი პროდუქციით.
    </p>
  </div>
</section>
