<section>
  <div class="d1">
    <div class="miwodebisService">
      <div class="text">
        <div class="h1Div">
          <h1>მიწოდების სერვისი</h1>
        </div>
        <div class="ulDiv">
          <ul>
            <li>თბილისში მიწოდება ხორციელდება იმავე ან მომდევნო დღეს</li>
            <li>რეგიონებში ამანათის მიღებას სჭრიდება 1-3 სამუშაო დღე</li>
            <li>
              თბილისში მიწოდებას ანხორციელებს Glovo/Yandex, რეგიონებში ONWAY
              ფოსტა
            </li>
          </ul>
        </div>
      </div>
      <img [src]="delivery[4]" alt="" />
    </div>
    <div class="hDiv">
        <h1>როგორ მუშაობს ჯისთორის მიტანის სერვისი?</h1>
      </div>
    <div class="working">
      
      <div class="phtDiv">
        <ul>
          <div>
            <li>
              <p>1. შეუკვეთეთ პროდუქტი და მიუთითეთ მიწოდების მეთოდი</p>
              <img [src]="delivery[0]" alt="" />
            </li>
          </div>
          <div>
            <li>
              <p>2.თქვენ მიიღებთ შეკვეთის დადასტურების შეტყობინებას</p>
              <img [src]="delivery[1]" alt="" />
            </li>
          </div>
          <div>
            <li>
              <p>3.დაელოდეთ თქვენი შეკვეთის ჩატვირთვას 1 დღე</p>
              <img [src]="delivery[2]" alt="" />
            </li>
          </div>
          <div>
            <li>
              <p>
                4.აიღეთ თქვენი შეკვეთა მეორე დღესვე თქვენთვის სასურველ აგილას
              </p>
              <img [src]="delivery[3]" alt="" />
            </li>
          </div>
        </ul>
      </div>
      <div class="vadebi">
        <div class="v1"><h1>მიწოდების ვადები და ფასები</h1></div>
        <div>
          <span>სტანდარტული მიწოდება თბილისში</span>
          <p>
            – მომხმარებელი შეძენილ პროდუქტს მიიღებს 
            პირველივე ან მომდევნო დღეს.
          </p>
        </div>
        <div>
          <span>სწრაფი მიწოდება თბილისში</span>
          <p>– მომხმარებელი შეძენილ პროდუქტს მიიღებს რამოდენიმე</p>
          <span>წუთში</span>, ან სულაც <span>წუთში</span>
        </div>
        <div>
          <span>სტანდარტული მიწოდება რეგიონებში</span>
          <p>– მომხმარებელი შეძენილ პროდუქტს მიიღებს</p>
          <span>1-4 სამუშაო დღეში.</span>
        </div>
        <div>
          <span>სწრაფი მიწოდება რეგიონებში</span>
          <p>– მომხმარებელი შეძენილ პროდუქტს მიიღებს</p>
          <span>1-2 სამუშაო დღეში</span>
        </div>
      </div>
    </div>
  </div>
  <div class="d2Fixed">
    <div class="f1">
        <h4>დახმარება გჭირდებათ?</h4>
        <span>
            <div><img [src]="help[0]" alt=""><span>(995) 555 551 559</span></div>
            <div><img [src]="help[1]" alt=""><span>Messenger</span></div>
            <div><img [src]="help[2]" alt=""><span>Email: contact{{dzagl}}gstore.ge</span></div>
        </span>
    </div>
  </div>
</section>
