section {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  gap: 10px;
  position: relative;
  margin-top: 20px;
}
section .d1 {
  width: 75%;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .d1 .miwodebisService {
  width: 100%;
  display: flex;
  background-color: #1c61e7;
  border-radius: 0.5em;
  overflow: hidden;
  color: white;
  align-items: center;
  padding: 50px;
}
section .d1 .miwodebisService .text .h1Div {
  text-align: center;
}
section .d1 .hDiv {
  width: 100%;
  height: 80px;
  border-radius: 0.5em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .d1 .hDiv h1 {
  font-size: 25px;
}
section .d1 .working {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  border-radius: 0.5em;
}
section .d1 .working .phtDiv {
  width: 100%;
  border-radius: 0.5em;
  padding: 20px;
}
section .d1 .working .phtDiv ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-align: center;
  margin-left: -30px;
  flex-wrap: wrap;
}
section .d1 .working .phtDiv ul div {
  width: 250px;
  height: 230px;
  background-color: #f1f1f1;
  border-radius: 0.5em;
}
section .d1 .working .vadebi {
  width: 100%;
  height: 310px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
section .d1 .working .vadebi div {
  display: flex;
  gap: 5px;
}
section .d1 .working .vadebi div p {
  opacity: 75%;
}
section .d1 .working .vadebi div span {
  font-weight: bold;
  opacity: 75%;
}
section .d1 .working .vadebi .v1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .d1 .working .vadebi .v1 h1 {
  font-size: 26px;
  font-weight: 700;
}
section .d1 .d1Fixed {
  display: none;
}
section .d2Fixed {
  width: 18%;
  height: 1000px;
  border-radius: 0.5em;
  right: 230px;
  display: flex;
  justify-content: center;
}
section .d2Fixed .f1 {
  width: 260px;
  border-radius: 0.5em;
  height: 200px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section .d2Fixed .f1 h4 {
  font-size: 20px;
}
section .d2Fixed .f1 span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .d2Fixed .f1 div {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 950px) {
  section .d1 {
    width: 100%;
  }
  section .d1 .miwodebisService {
    display: flex;
    flex-direction: column;
  }
  section .d1 .working {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 0.5em;
    gap: 10px;
  }
  section .d1 .working .phtDiv {
    width: 100%;
    border-radius: 0.5em;
    padding: 20px;
    gap: 10px;
  }
  section .d1 .working .phtDiv ul {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10px;
  }
  section .d1 .working .phtDiv ul div {
    margin-right: 10px;
  }
  section .d1 .working .vadebi {
    flex-direction: column;
  }
  section .d1 .d1Fixed {
    background-color: white;
    display: flex;
    margin: 20px auto;
    align-items: center;
    padding: 20px;
    border-radius: 0.5em;
  }
  section .d1 .d1Fixed .f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .d1 .d1Fixed span {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  section .d1 .d1Fixed span div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  section .d2Fixed {
    display: none;
  }
}/*# sourceMappingURL=delivery.component.css.map */