<nav class="nav1">
  <div class="inDiv">
    <div class="logo" routerLink="/">
      <img [src]="logo" alt="">
    </div>
    <div class="inputDiv">
      <input type="search" name="" id="" placeholder="Search for products" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="call">
      <div class="l1">
        <div class="logo"></div>
      </div>
      <div class="num">
        <h3>დაგვიკავშირდი</h3>
        <h3>+995 555 551 559</h3>
      </div>
    </div>
    <div class="delivery">
      <div class="deliv"></div>
      <div class="h3Div">
        <h3>მიწოდება</h3>
        <h3>ყველგან საქართველოში</h3>
      </div>
    </div>
  </div>
</nav>
<!-- nav2 -->
 <nav class="nav2">
    <div class="inDiv">
        <div class="d1">
            <ul>
                <li (click)="goOnlapPage()">ლეპტოპები</li>
                <li (click)="goPhonePage()">ტელეფონები</li>
                <li routerLink="warranty">გარანტია</li>
                <li routerLink="delivery">მიწოდეება</li>
                <li>კონტაქტი</li>
            </ul>
        </div>
        <div class="d2">
            <div class="language">
                <div class="flag"></div>
                <p>GE</p>
            </div>
            <div class="user">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="cart">
                <div class="cartWithlength">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p class="lengthP">1</p>
                </div>
                <p class="price">0,00ლ</p>
            </div>
        </div>
    </div>
 </nav>