.nav1 {
  width: 100%;
  height: 80px;
  .inDiv {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 200px;
      height: 70px;
      background-color: red;
      display: flex;
      background-size: 200px 70px;
      background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 164945.png);
      background-repeat: no-repeat;
    }
    .inputDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 80px;
      input {
        width: 100%;
        height: 40px;
        outline: none;
        border: 1px solid grey;
        border-radius: 20px;
        padding-left: 20px;
      }
      .fa-magnifying-glass {
        width: 36px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1c61e7;
        position: relative;
        right: 36px;
        color: white;
      }
    }
    .call {
      display: flex;
      .logo {
        width: 50px;
        height: 50px;
        background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 164959.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
      }
      .num {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        h3:nth-child(1) {
          font-size: 17px;
        }
        h3:nth-child(2) {
          color: #1c61e7;
          font-size: 13px;
        }
      }
    }
    .delivery {
      display: flex;
      align-items: center;
      justify-content: center;
      .deliv {
        width: 50px;
        height: 50px;
        background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 165036.png);
        background-repeat: no-repeat;
        background-size: 40px 40px;
      }
      .h3Div {
        width: 100px;
        height: 50px;
        h3:nth-child(1) {
          font-size: 15px;
        }
        h3:nth-child(2) {
          font-size: 12px;
          color: #1c61e7;
        }
      }
    }
  }
}
/* nav2 */
.nav2 {
  width: 100%;
  height: 60px;
  background-color: #e6effd;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px -10px;
  .inDiv {
    max-width: 1440px;
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    
    .d1 {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      
      ul {
        display: flex;
        height: 60px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        li {
          width: 120px;
          height: 40px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        li:hover {
          background-color: #d0e0fa;
          color: #1c61e7;
        }
      }
    }
    .d2 {
      flex: 1;
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .language {
        display: flex;
        align-items: center;
        height: 20px;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        .flag {
          width: 16px;
          height: 16px;
          background-image: url(../../../assets/images/Flag_of_Georgia.svg.png);
          background-repeat: no-repeat;
          background-size: 16px 16px;
        }
        p{
          margin-top: 13px;
        }
      }
      .user {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        i {
        }
      }
      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 5px;
        .price{
          margin-top: 10px;
        }
        .cartWithlength {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #1c61e7;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            color: white;
            position: relative;
            left: 7px;
          }
          .lengthP {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            background-color: white;
            color: #1c61e7;
            position: relative;
            top: -7px;
            left: 5px;
          }
        }
      }
    }
  }
}
