.blueLi{
  background-color: #d0e0fa;
  color: #1c61e7;
  font-weight: 600;
}
.nav1 {
  width: 100%;
  height: 80px;
  .inDiv {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .burger{
      display: none;
    }
    .logo {
      width: 200px;
      height: 70px;
      display: flex;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .language2{
      display: none;
    }
    .inputDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 80px;
      input {
        width: 100%;
        height: 40px;
        outline: none;
        border: 1px solid grey;
        border-radius: 20px;
        padding-left: 20px;
      }
      .fa-magnifying-glass {
        width: 36px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1c61e7;
        position: relative;
        right: 38px;
        top: -0.0001em;
        color: white;
      }
    }
    .call {
      display: flex;
      .logo {
        width: 50px;
        height: 50px;
        background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 164959.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
      }
      .num {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        h3:nth-child(1) {
          font-size: 17px;
        }
        h3:nth-child(2) {
          color: #1c61e7;
          font-size: 13px;
        }
      }
    }
    .delivery {
      display: flex;
      align-items: center;
      justify-content: center;
      .deliv {
        width: 50px;
        height: 50px;
        background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 165036.png);
        background-repeat: no-repeat;
        background-size: 40px 40px;
      }
      .h3Div {
        width: 100px;
        height: 50px;
        h3:nth-child(1) {
          font-size: 15px;
        }
        h3:nth-child(2) {
          font-size: 12px;
          color: #1c61e7;
        }
      }
    }
  }
}
/* nav2 */
.nav2 {
  width: 100%;
  height: 60px;
  background-color: #e6effd;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px -10px;
  .search2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 80px;
    display: none;
    input {
      width: 100%;
      height: 40px;
      outline: none;
      border: 1px solid grey;
      border-radius: 20px;
      padding-left: 20px;
    }
    .fa-magnifying-glass {
      width: 36px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1c61e7;
      position: relative;
      right: 38px;
      top: -0.0001em;
      color: white;
    }
  }
  .inDiv {
    max-width: 1440px;
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    .d1 {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        li {
          width: 120px;
          height: 40px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.2s;
        }
        li:hover {
          background-color: #d0e0fa;
          color: #1c61e7;
          font-weight: 600;
        }
        
      }
    }
    .d2 {
      flex: 1;
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .language {
        display: flex;
        align-items: center;
        height: 20px;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        .flag {
          width: 16px;
          height: 16px;
          background-image: url(../../../assets/images/Flag_of_Georgia.svg.png);
          background-repeat: no-repeat;
          background-size: 16px 16px;
        }
      }
      .user {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
      }
      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 5px;
        .cartWithlength {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #1c61e7;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            color: white;
            position: relative;
            left: 7px;
          }
          .lengthP {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            background-color: white;
            color: #1c61e7;
            position: relative;
            top: -7px;
            left: 5px;
          }
        }
      }
    }
  }
}

.addCart {
  width: 100%;
  height: 130vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: -5080px;
  transition: 0.7s;
  z-index: 12;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  .wholeCart {
    width: 300px;
    height: 130vh;
    overflow-y: scroll;
    background-color: white;
    .close {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e4e4e4;
      padding: 20px;
      span {
        font-size: 20px;
      }
      i {
        cursor: pointer;
      }
    }
    .cartProds{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block-end: 100px;
      .prodsCard{
        width: 100%;
        padding: 20px;
        border-top: 1px solid #e5e5e5;
        .cartItemDiv{
          width: 100%;
          display: flex;
          gap: 15px;
          .imgDiv{
            img{
              width: 60px;
              height: 55px;
            }
          }
          .title{
            display: flex;
            flex-direction: column;
            .firstSpan{
              font-weight: 600;
            }
            div{
              .beforePrice{
                color: #1c61e7;
                font-weight: 600;
                span{
                  color: #9c9c9c;
                  font-weight: 200;
                }
              }
            }
          }
          .deleteItem{
            i{
              font-size: 10px;
            }
          }
          
        }
      }
      .totalPrice{
        border-top: 1px solid black;
        padding: 10px;
        display: flex;
        flex-direction:column;
        gap: 20px;
        .jami{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .buttons{
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          button{
            width: 270px;
            height: 42px;
            border: none;
            border-radius: 0.5em;
          }
          .seeCart{
            background-color: #E1EBFF;
            color: #1c61e7;
            font-weight: 600;
          }
          .buy{
            background-color: #1c61e7;
            color: white;
            font-weight: 600;
          }
        }
      }
    }
    .lastDiv{
      display: flex;
      flex-direction: column;
      .jamiDiv{
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        p{
          font-size: 20px;
          font-weight: 600;
        }
        span{
          font-size: 20px;
          font-weight: 600;
          color: #1c61e7;
        }
      }
      .btnDiv{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        button{
          width: 100%;
          height: 42px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
        }
        button:hover{
          opacity: 80%;
        }
        button:nth-child(1){
          background-color: #E1EBFF;
          color: #1c61e7;
          font-weight: bold;
        }
        button:nth-child(2){
          background-color: #1c61e7;
          color: white;
          font-weight: bold;
        }
      }
    }
    .emptyCart{
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      button{
        width: 117px;
        height: 32px;
        background-color: #1c61e7;
        color: white;
        border: 1px solid #1c61e7;
        border-radius: 5px;
      }
    }
  }
}
.mobile_menu {
  position: fixed;
  right: 0px;
  /* display: none; */
  z-index: 12;
}
.signIn {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -5000px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.7s;
  .login {
    width: 400px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    .in {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #e4e4e4;
    }
    .loginForm {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        div {
          display: flex;
          flex-direction: column;
          gap: 15px;
          input {
            outline: none;
            border: 1px solid #e5e5e5;
            border-radius: 0.5em;
            height: 45px;
          }
        }
      }
      button {
        width: 90%;
        height: 45px;
        border: none;
        background-color: #1c61e7;
        border-radius: 0.5em;
        color: white;
        margin: auto;
      }
      .lost {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e4e4e4;
        padding: 20px;
        .l1 {
          display: flex;
          gap: 5px;
          align-items: center;
        }
      }
      .createAcc {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .fa-user {
          font-size: 60px;
          color: #9c9c9c;
        }
        span:nth-child(3) {
          height: 30px;
          border-bottom: 2px solid #1c61e7;
          border-radius: 1px;
          cursor: pointer;
          transition: 0.2s;
        }
        span:nth-child(3):hover {
          opacity: 70%;
        }
      }
    }
  }
}
.showSignIn {
  right: 0px;
}
.bacground{
  position: fixed;
  width: 100%;
  height: 1100vh;
  background-color: transparent;
  z-index: -1;
  transition: 0.2s;
}
.showThisBack{
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}
/* burgerBar */
.burgerBar{
  width: 300px;
  height: 200vh;
  position: absolute;
  background-color: white;
  z-index: 0;
  transform: translateX(-1400px);
  transition: 0.3s ease-in-out;
  padding-top: 50px;
  .d1 {
    flex: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      height: 60px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      list-style: none;
      li {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s;
      }
      li:hover {
        background-color: #d0e0fa;
        color: #1c61e7;
        transition: 0.3s;
      }
      li:focus{
        background-color: #d0e0fa;
        color: #1c61e7;
      }
    }
  }
  .d2 {
    flex: 1;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    .language {
      display: flex;
      align-items: center;
      height: 20px;
      flex-direction: row;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      .flag {
        width: 16px;
        height: 16px;
        background-image: url(../../../assets/images/Flag_of_Georgia.svg.png);
        background-repeat: no-repeat;
        background-size: 16px 16px;
      }
    }
    .user {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
    }
    .cart {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 5px;
      .cartWithlength {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #1c61e7;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: white;
          position: relative;
          left: 7px;
        }
        .lengthP {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
          background-color: white;
          color: #1c61e7;
          position: relative;
          top: -7px;
          left: 5px;
        }
      }
    }
  }
}
.showThisBruger{
  z-index: 12;
  transform: translateY(0);
}
@media screen and (max-width:900px) {
  .nav1{
    .inDiv{
      display: flex;
       align-items: center;
       padding: 20px;
       .burger{
        display: flex;
        font-size: 20px;
       }
       .language2{
        display: flex;
       }
      .inputDiv{
        display: none;
      }
      .call{
        display: none;
      }
      .delivery{
        display: none;
      }
    }
  }
  .nav2{
    .search2{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 30px;
    }
    .inDiv{
      display: none;
    }
  }
}