.nav1 {
  width: 100%;
  height: 80px;
}
.nav1 .inDiv {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav1 .inDiv .burger {
  display: none;
}
.nav1 .inDiv .logo {
  width: 200px;
  height: 70px;
  display: flex;
  cursor: pointer;
}
.nav1 .inDiv .logo img {
  width: 100%;
}
.nav1 .inDiv .language2 {
  display: none;
}
.nav1 .inDiv .inputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 80px;
}
.nav1 .inDiv .inputDiv input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding-left: 20px;
}
.nav1 .inDiv .inputDiv .fa-magnifying-glass {
  width: 36px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c61e7;
  position: relative;
  right: 38px;
  top: -0.0001em;
  color: white;
}
.nav1 .inDiv .call {
  display: flex;
}
.nav1 .inDiv .call .logo {
  width: 50px;
  height: 50px;
  background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 164959.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.nav1 .inDiv .call .num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.nav1 .inDiv .call .num h3:nth-child(1) {
  font-size: 17px;
}
.nav1 .inDiv .call .num h3:nth-child(2) {
  color: #1c61e7;
  font-size: 13px;
}
.nav1 .inDiv .delivery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav1 .inDiv .delivery .deliv {
  width: 50px;
  height: 50px;
  background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 165036.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.nav1 .inDiv .delivery .h3Div {
  width: 100px;
  height: 50px;
}
.nav1 .inDiv .delivery .h3Div h3:nth-child(1) {
  font-size: 15px;
}
.nav1 .inDiv .delivery .h3Div h3:nth-child(2) {
  font-size: 12px;
  color: #1c61e7;
}

/* nav2 */
.nav2 {
  width: 100%;
  height: 60px;
  background-color: #e6effd;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px -10px;
}
.nav2 .search2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 80px;
  display: none;
}
.nav2 .search2 input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding-left: 20px;
}
.nav2 .search2 .fa-magnifying-glass {
  width: 36px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c61e7;
  position: relative;
  right: 38px;
  top: -0.0001em;
  color: white;
}
.nav2 .inDiv {
  max-width: 1440px;
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
.nav2 .inDiv .d1 {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
}
.nav2 .inDiv .d1 ul {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.nav2 .inDiv .d1 ul li {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.nav2 .inDiv .d1 ul li:hover {
  background-color: #d0e0fa;
  color: #1c61e7;
  font-weight: 600;
}
.nav2 .inDiv .d1 ul li:focus {
  background-color: #d0e0fa;
  color: #1c61e7;
  font-weight: 600;
}
.nav2 .inDiv .d2 {
  flex: 1;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav2 .inDiv .d2 .language {
  display: flex;
  align-items: center;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.nav2 .inDiv .d2 .language .flag {
  width: 16px;
  height: 16px;
  background-image: url(../../../assets/images/Flag_of_Georgia.svg.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.nav2 .inDiv .d2 .user {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.nav2 .inDiv .d2 .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}
.nav2 .inDiv .d2 .cart .cartWithlength {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1c61e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav2 .inDiv .d2 .cart .cartWithlength i {
  color: white;
  position: relative;
  left: 7px;
}
.nav2 .inDiv .d2 .cart .cartWithlength .lengthP {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color: white;
  color: #1c61e7;
  position: relative;
  top: -7px;
  left: 5px;
}

.addCart {
  width: 100%;
  height: 130vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: -5080px;
  transition: 0.7s;
  z-index: 12;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.addCart .wholeCart {
  width: 300px;
  height: 130vh;
  overflow-y: scroll;
  background-color: white;
}
.addCart .wholeCart .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px;
}
.addCart .wholeCart .close span {
  font-size: 20px;
}
.addCart .wholeCart .close i {
  cursor: pointer;
}
.addCart .wholeCart .cartProds {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-end: 100px;
}
.addCart .wholeCart .cartProds .prodsCard {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv {
  width: 100%;
  display: flex;
  gap: 15px;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv .imgDiv img {
  width: 60px;
  height: 55px;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv .title {
  display: flex;
  flex-direction: column;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv .title .firstSpan {
  font-weight: 600;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv .title div .beforePrice {
  color: #1c61e7;
  font-weight: 600;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv .title div .beforePrice span {
  color: #9c9c9c;
  font-weight: 200;
}
.addCart .wholeCart .cartProds .prodsCard .cartItemDiv .deleteItem i {
  font-size: 10px;
}
.addCart .wholeCart .cartProds .totalPrice {
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addCart .wholeCart .cartProds .totalPrice .jami {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addCart .wholeCart .cartProds .totalPrice .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.addCart .wholeCart .cartProds .totalPrice .buttons button {
  width: 270px;
  height: 42px;
  border: none;
  border-radius: 0.5em;
}
.addCart .wholeCart .cartProds .totalPrice .buttons .seeCart {
  background-color: #E1EBFF;
  color: #1c61e7;
  font-weight: 600;
}
.addCart .wholeCart .cartProds .totalPrice .buttons .buy {
  background-color: #1c61e7;
  color: white;
  font-weight: 600;
}
.addCart .wholeCart .lastDiv {
  display: flex;
  flex-direction: column;
}
.addCart .wholeCart .lastDiv .jamiDiv {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.addCart .wholeCart .lastDiv .jamiDiv p {
  font-size: 20px;
  font-weight: 600;
}
.addCart .wholeCart .lastDiv .jamiDiv span {
  font-size: 20px;
  font-weight: 600;
  color: #1c61e7;
}
.addCart .wholeCart .lastDiv .btnDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}
.addCart .wholeCart .lastDiv .btnDiv button {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.addCart .wholeCart .lastDiv .btnDiv button:hover {
  opacity: 80%;
}
.addCart .wholeCart .lastDiv .btnDiv button:nth-child(1) {
  background-color: #E1EBFF;
  color: #1c61e7;
  font-weight: bold;
}
.addCart .wholeCart .lastDiv .btnDiv button:nth-child(2) {
  background-color: #1c61e7;
  color: white;
  font-weight: bold;
}
.addCart .wholeCart .emptyCart {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.addCart .wholeCart .emptyCart button {
  width: 117px;
  height: 32px;
  background-color: #1c61e7;
  color: white;
  border: 1px solid #1c61e7;
  border-radius: 5px;
}

.mobile_menu {
  position: fixed;
  right: 0px;
  /* display: none; */
  z-index: 12;
}

.signIn {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -5000px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.7s;
}
.signIn .login {
  width: 400px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.signIn .login .in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
}
.signIn .login .loginForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.signIn .login .loginForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.signIn .login .loginForm form div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.signIn .login .loginForm form div input {
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 0.5em;
  height: 45px;
}
.signIn .login .loginForm button {
  width: 90%;
  height: 45px;
  border: none;
  background-color: #1c61e7;
  border-radius: 0.5em;
  color: white;
  margin: auto;
}
.signIn .login .loginForm .lost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px;
}
.signIn .login .loginForm .lost .l1 {
  display: flex;
  gap: 5px;
  align-items: center;
}
.signIn .login .loginForm .createAcc {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.signIn .login .loginForm .createAcc .fa-user {
  font-size: 60px;
  color: #9c9c9c;
}
.signIn .login .loginForm .createAcc span:nth-child(3) {
  height: 30px;
  border-bottom: 2px solid #1c61e7;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.2s;
}
.signIn .login .loginForm .createAcc span:nth-child(3):hover {
  opacity: 70%;
}

.showSignIn {
  right: 0px;
}

.bacground {
  position: fixed;
  width: 100%;
  height: 1100vh;
  background-color: transparent;
  z-index: -1;
  transition: 0.2s;
}

.showThisBack {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

/* burgerBar */
.burgerBar {
  width: 300px;
  height: 200vh;
  position: absolute;
  background-color: white;
  z-index: 0;
  transform: translateX(-1400px);
  transition: 0.3s ease-in-out;
  padding-top: 50px;
}
.burgerBar .d1 {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burgerBar .d1 ul {
  display: flex;
  flex-direction: column;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.burgerBar .d1 ul li {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.burgerBar .d1 ul li:hover {
  background-color: #d0e0fa;
  color: #1c61e7;
  transition: 0.3s;
}
.burgerBar .d1 ul li:focus {
  background-color: #d0e0fa;
  color: #1c61e7;
}
.burgerBar .d2 {
  flex: 1;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.burgerBar .d2 .language {
  display: flex;
  align-items: center;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.burgerBar .d2 .language .flag {
  width: 16px;
  height: 16px;
  background-image: url(../../../assets/images/Flag_of_Georgia.svg.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.burgerBar .d2 .user {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.burgerBar .d2 .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}
.burgerBar .d2 .cart .cartWithlength {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1c61e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burgerBar .d2 .cart .cartWithlength i {
  color: white;
  position: relative;
  left: 7px;
}
.burgerBar .d2 .cart .cartWithlength .lengthP {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color: white;
  color: #1c61e7;
  position: relative;
  top: -7px;
  left: 5px;
}

.showThisBruger {
  z-index: 12;
  transform: translateY(0);
}

@media screen and (max-width: 900px) {
  .nav1 .inDiv {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .nav1 .inDiv .burger {
    display: flex;
    font-size: 20px;
  }
  .nav1 .inDiv .language2 {
    display: flex;
  }
  .nav1 .inDiv .inputDiv {
    display: none;
  }
  .nav1 .inDiv .call {
    display: none;
  }
  .nav1 .inDiv .delivery {
    display: none;
  }
  .nav2 .search2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  .nav2 .inDiv {
    display: none;
  }
}/*# sourceMappingURL=nav.component.css.map */