.nav1 {
  width: 100%;
  height: 80px;
}
.nav1 .inDiv {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav1 .inDiv .logo {
  width: 200px;
  height: 70px;
  background-color: red;
  display: flex;
  background-size: 200px 70px;
  background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 164945.png);
  background-repeat: no-repeat;
}
.nav1 .inDiv .inputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 80px;
}
.nav1 .inDiv .inputDiv input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding-left: 20px;
}
.nav1 .inDiv .inputDiv .fa-magnifying-glass {
  width: 36px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c61e7;
  position: relative;
  right: 36px;
  color: white;
}
.nav1 .inDiv .call {
  display: flex;
}
.nav1 .inDiv .call .logo {
  width: 50px;
  height: 50px;
  background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 164959.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.nav1 .inDiv .call .num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.nav1 .inDiv .call .num h3:nth-child(1) {
  font-size: 17px;
}
.nav1 .inDiv .call .num h3:nth-child(2) {
  color: #1c61e7;
  font-size: 13px;
}
.nav1 .inDiv .delivery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav1 .inDiv .delivery .deliv {
  width: 50px;
  height: 50px;
  background-image: url(../../../assets/images/Screenshot\ 2024-11-28\ 165036.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.nav1 .inDiv .delivery .h3Div {
  width: 100px;
  height: 50px;
}
.nav1 .inDiv .delivery .h3Div h3:nth-child(1) {
  font-size: 15px;
}
.nav1 .inDiv .delivery .h3Div h3:nth-child(2) {
  font-size: 12px;
  color: #1c61e7;
}

/* nav2 */
.nav2 {
  width: 100%;
  height: 60px;
  background-color: #e6effd;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px -10px;
}
.nav2 .inDiv {
  max-width: 1440px;
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
.nav2 .inDiv .d1 {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
}
.nav2 .inDiv .d1 ul {
  display: flex;
  height: 60px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.nav2 .inDiv .d1 ul li {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav2 .inDiv .d1 ul li:hover {
  background-color: #d0e0fa;
  color: #1c61e7;
}
.nav2 .inDiv .d2 {
  flex: 1;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav2 .inDiv .d2 .language {
  display: flex;
  align-items: center;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.nav2 .inDiv .d2 .language .flag {
  width: 16px;
  height: 16px;
  background-image: url(../../../assets/images/Flag_of_Georgia.svg.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.nav2 .inDiv .d2 .language p {
  margin-top: 13px;
}
.nav2 .inDiv .d2 .user {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.nav2 .inDiv .d2 .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}
.nav2 .inDiv .d2 .cart .price {
  margin-top: 10px;
}
.nav2 .inDiv .d2 .cart .cartWithlength {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1c61e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav2 .inDiv .d2 .cart .cartWithlength i {
  color: white;
  position: relative;
  left: 7px;
}
.nav2 .inDiv .d2 .cart .cartWithlength .lengthP {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color: white;
  color: #1c61e7;
  position: relative;
  top: -7px;
  left: 5px;
}/*# sourceMappingURL=nav.component.css.map */