<nav class="nav1">
  <div class="inDiv">
    <div class="burger">
      <i class="fa-solid fa-bars" (click)="showBurgerBar()"></i>
    </div>
    <div class="logo" routerLink="/" (click)="goPhonePage()">
      <img [src]="logo" alt="" />
    </div>
    <div class="language2">
      <div class="flag"></div>
      <p>GE</p>
    </div>
    <div class="inputDiv">
      <input
        type="search"
        name=""
        id=""
        placeholder="Search for products"
        [(ngModel)]="searchedText"
        (keydown.enter)="searchItem()"
      />
      <i class="fa-solid fa-magnifying-glass" (click)="searchItem()"></i>
    </div>
    <div class="call">
      <div class="l1">
        <div class="logo"></div>
      </div>
      <div class="num">
        <h3>დაგვიკავშირდი</h3>
        <h3>+995 555 551 559</h3>
      </div>
    </div>
    <div class="delivery">
      <div class="deliv"></div>
      <div class="h3Div">
        <h3>მიწოდება</h3>
        <h3>ყველგან საქართველოში</h3>
      </div>
    </div>
  </div>
</nav>
<!-- nav2 -->
<nav class="nav2">
  <div class="search2">
    <input
      type="search"
      name=""
      id=""
      placeholder="Search for products"
      (keydown.enter)="searchItem()"
      [(ngModel)]="searchedText"
    />
    <i class="fa-solid fa-magnifying-glass" (click)="searchItem()"></i>
  </div>
  <div class="inDiv">
    <div class="d1">
      <ul>
        <li routerLink="laptops" (click)="goPhonePage()">ლეპტოპები</li>
        <li routerLink="phones" (click)="goPhonePage()">ტელეფონები</li>
        <li routerLink="warranty" (click)="goPhonePage()">გარანტია</li>
        <li routerLink="delivery" (click)="goPhonePage()">მიწოდეება</li>
        <li routerLink="contact" (click)="goPhonePage()">კონტაქტი</li>
      </ul>
    </div>
    <div class="d2">
      <div class="language">
        <div class="flag"></div>
        <p>GE</p>
      </div>
      @if (cookie.get("userAccToken")) {
      <div class="user" routerLink="register">
        <i class="fa-regular fa-user"></i>
      </div>
      } @else {
      <div class="user" (click)="openSign()">
        <i class="fa-regular fa-user"></i>
      </div>
      }
      <div class="cart">
        <div class="cartWithlength">
          <i class="fa-solid fa-cart-shopping" (click)="openManu()"></i>
          @if(cartProdLength){
            <p class="lengthP">{{cartProdLength }}</p>
          }@else {
            <p class="lengthP">0</p>
          }
        </div>
        @if(dicountedPriceOnNav == 0){
          <br>
          <p>{{dicountedPriceOnNav}} ₾</p>
        }@else{
          <p>{{currentPriceOnNav}} ₾</p>
        }
      </div>
    </div>
  </div>
</nav>
<!-- cart -->
<div class="addCart" [class.mobile_menu]="menuValue">
  <div class="wholeCart">
    <div class="close" (click)="openManu()">
      <span>Shopping cart</span>
      <i class="fa-solid fa-x"></i>
    </div>
    @if(cartData == true && cartProdLength > 0){
      <div class="cartProds">
        @for (item of combinedCartProducts; track $index){
        <div class="prodsCard">
          <div class="cartItemDiv">
            <div class="imgDiv">
              <img [src]="item.productDetails.thumbnail" alt="" />
            </div>
            <div class="title">
              <span class="firstSpan">{{ item.productDetails.title }}</span>
              <span>{{ item.productDetails.category.name }}</span>
              <div>
                @if(item.beforeDiscountPrice == item.pricePerQuantity) {
                <span class="beforePrice">
                  <span>1x</span> {{ item.beforeDiscountPrice }} ₾
                </span>
                }@else {
                <span class="beforePrice">
                  <span>1x</span> {{ item.beforeDiscountPrice }} ₾
                </span>
                }
              </div>
            </div>
            <div class="deleteItem" (click)="deleteItem(item.productDetails._id)">
              <i class="fa-solid fa-x"></i>
            </div>
          </div>
        </div>
  
        }
        <div class="lastDiv">
          <div class="jamiDiv">
            <p>ჯამი:</p> 
            <span>{{totalPrice}} ₾</span>
          </div>
          <div class="btnDiv">
            <button>გასუფთავება</button>
            <button (click)="makeCheckOut()">შეძენა</button>
          </div>
        </div>
      </div>
    }@else {
      <div class="emptyCart">
        <img [src]="" alt="">
        <p>თქვენ კალათში პროდუქტები არ არის.</p>
        <button (click)="goOnProducts()">Return to Shop</button>
      </div>

    }
  </div>
</div>
<div class="signIn" [class.showSignIn]="showSignIn">
  <div class="login">
    <div class="in">
      <span>Sign In</span>
      <i class="fa-solid fa-x" (click)="openSign()"></i>
    </div>
    <div class="loginForm">
      <form action="" [formGroup]="signIn" (ngSubmit)="onSubmit()">
        <div>
          <label for="">ელფოსტის მისმართი <span>*</span></label>
          <input type="text" formControlName="email" />
        </div>
        <div>
          <label for="">პაროლი <span>*</span></label>
          <input type="password" name="" id="" formControlName="password" />
        </div>
        <button type="submit">Login In</button>
      </form>

      <div class="lost">
        <div class="l1">
          <input type="checkbox" name="" id="" />
          <span>Remember me</span>
        </div>
        <span>Lost your password?</span>
      </div>
      <div class="createAcc">
        <i class="fa-regular fa-user"></i>
        <span>No account yet?</span>
        <span routerLink="register" (click)="goPhonePage()"
          >Create An Account</span
        >
      </div>
    </div>
  </div>
</div>
<div class="burgerBar" [class.showThisBruger]="burger">
  <div class="d1">
    <ul>
      <li routerLink="laptops" (click)="goPhonePage()">ლეპტოპები</li>
      <li routerLink="phones" (click)="goPhonePage()">ტელეფონები</li>
      <li routerLink="delivery" (click)="goPhonePage()">მიწოდეება</li>
      <li routerLink="warranty" (click)="goPhonePage()">გარანტია</li>
      <li routerLink="contact" (click)="goPhonePage()">კონტაქტი</li>
    </ul>
  </div>
  <div class="d2">
    @if (cookie.get("userAccToken")) {
    <div class="user" routerLink="register" (click)="goPhonePage()">
      <i class="fa-regular fa-user"></i>
    </div>
    } @else {
    <div class="user" (click)="openSign()">
      <i class="fa-regular fa-user"></i>
    </div>

    }
    <div class="cart">
      <div class="cartWithlength">
        <i class="fa-solid fa-cart-shopping" (click)="openManu()"></i>
        <p class="lengthP">{{ cartItemRaod }}</p>
      </div>
      <p class="price">0,00ლ</p>
    </div>
  </div>
</div>
<div class="bacground" [class.showThisBack]="burger"></div>
