<section>
  <h3>ვინ ვართ ჩვენ</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> ჩვენი ვებ-გვერდის მისამართი:
    https://gstore.ge.
  </p>
  <h3>კომენტარები</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> თუ სტუმარი დატოვებს კომენტარს საიტზე,
    ჩვენ შევაგროვებთ ფორმაში მითითებულ მონაცემებს, აგრეთვე IP-მისამართს და
    ბრაუზერის user-agent-ის მონაცემებს, სპამის გამოვლენის მიზნით.
  </p>
  <p>
    ანონიმიზირებული სტრიქონი, რომელიც იქმნება თქვენი ელფოსტის მისამართიდან (ე.წ.
    „ჰეში“), შესაძლოა გადაეცეს სერვისს Gravatar, რათა მოხდეს იმის გარკვევა,
    იყენებთ თუ არა თქვენ მას. Gravatar-ის კონფიდენციალურობის პოლიტიკა
    ხელმისაწვდომია აქ: https://automattic.com/privacy/ . კომენტარის
    გამოქვეყნების შემდგომ თქვენი პროფილის გამოსახულება საჯაროდ გამოჩნდება თქვენი
    კომენტარის კონტექსტში.
  </p>
  <h3>მედია</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> თუ ხართ რეგისტრირებული მომხმარებელი და
    ატვირთეთ ფოტო საიტზე, ჯობია თავიდან აიცილოთ EXIF-მონაცემებით ფოტოს ატვირთვა,
    ვინაიდან ისინი შეიცავენ ინფორმაციას თქვენი ადგილმდებარეობის შესახებ.
    ნებისმიერს შეუძლია ამ ინფორმაციის ამოღება ფოტოდან.
  </p>
  <h3>ქუქი-ფაილები</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> თუ დატოვებთ კომენტარს ჩვენს საიტზე,
    თქვენ შეგიძლიათ ჩართოთ თქვენი სახელის, ელფოსტისა და ვებ-გვერდის მისამართის
    შენახვის შესაძლებლობა ქუქი-ფაილში. ეს კეთდება თქვენი კომფორტისათვის, რათა
    ხელახლა არ მოგიწიოთ იგივე მონაცემებსი შეტანა მორიგი კომენტარის დატოვებისას.
    ეს ქუქი-ფაილები ერთი წელი ინახება.
  </p>
  <p>
    თუ თქვენ სტუმრობთ ჩვენს შესვლის გვერდს, ჩვენ დავაყენებთ დროებით cookie-ს,
    რათა დადგინდეს თქვენი ბრაუზერი იღებს თუ არა cookies. ეს ქუქი-ფაილი არ
    შეიცავს პერსონალურ მონაცემებს და თქვენი ბრაუზერის დახურვისას გაუქმდება.
  </p>
  <p>
    პირად ანგარიშში შევლისას, ჩვენ ასევე ვაგზავნით რამოდენიმე ქუქი-ფაილს თქვენს
    კომპიუტერში, ეკრანის პარამეტრების ინფორმაციით. შესვლის ქუქი-ფაილი ორი დღე
    ინახება, ეკრანის პარამეტრების — 1 წელი. თუ აირჩევთ პარამეტრს „დამიმახსოვრე“,
    შესვლის პარამეტრები შენახული იქნება ორი კვირის განმავლობაში. ანგარიშიდან
    გამოსვლისას ქუქი-ფაილი წაიშლება.
  </p>
  <p>
    სტატიის ჩასწორების, ან გამოქვეყნებისას ბრაუზერში შენახული იქნება დამატებითი
    ქუქი-ფაილი, ის არ შეიცავს პირად მონაცემებს, არამედ მხოლოდ ჩასწორებული
    ჩანაწერის ID-ის და ვადა გასდის 1 დღეში
  </p>
  <h3>სხვა საიტების ჩადგმადი შიგთავსი</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> სტატიები ამ საიტზე შესაძლოა შეიცავდნენ
    ჩადგმად შიგთავსს (მაგალითად ვიდეო, გამოსახულება, სტატია და ა.შ.). მსგავსი
    სახის შიგთავსი ისევე იქცევა, თითქოს მომხმარებელი გადავიდა სხვა საიტზე.
  </p>
  <p>
    ეს საიტები შესაძლოა აგროვებენ მონაცემებს თქვენს შესახებ, იყენებენ
    ქუქი-ფაილებს, ამატებენ დამატებითი თვალთვალის ხერხებს მესამე მხარისაგან და
    თვალყურს ადევნებენ თქვენს ურთიერთქმედებას შიგთავსთან, მათ შორის
    ურთიერთქმედებას იმ შემთხვევაში, როდესაც ავტორიზებული ხართ საიტზე და გაქვთ
    ანგარიში.
  </p>
  <h3>ვის ვუზიარებთ მოანცემებს</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> თუ პაროლის გადაყენებას მოითხოვთ, თქვენი
    IP მისამართი დაემატება ელფოსტაში.
  </p>
  <h3>რამდენად დიდხანს ვინახავთ თქვენს მონაცემებს</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> თუ თქვენ დაწერთ კომენტარს, მაშინ
    კომენტარიც და მისი მეტა-მონაცემები შეინახება უსასრულოდ დიდი ხნით. ეს ხდება
    იმისათვის, რომ ავტომატურად მოხდეს შემდგომი კომენტარების ავტომატური
    გამოქვეყნება, ნაცვლად ხელით მისი მოწონებისა.
  </p>
  <p>
    ჩვენს საიტზე რეგისტრირებული მომხმარებლებისათვის ჩვენ ვინახავთ იმ პირად
    ინფორმაციას, რომელიც მათ მიუთითეს პროფილში. ყველა მომხმარებელს შეუძლია
    ნახოს, ჩაასწოროს, ან წაშალოს მისი ინფორმაცია ნებისმიერ დროს (მომხმარებლის
    სახელის გარდა). ვებ-გვერდის ადმინისტრაციას ასევე შეუძლია დაინახოს ეს
    ინფორმაცია და შეცვალოს.
  </p>
  <h3>რა უფლებები გაქვთ პირად ინფორმაციაზე</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> საიტზე პირადი ანგარიშის არსებობისას, ან
    თუ თქვენ დატოვეთ კომენტარი, შეგიძლიათ მოითხოვოთ პირადი ინფორმაციის ფაილის
    ექსპორტი, რომელიც ჩვენ შევინახეთ, მათ შორის თქვენ მიერ მოწოდებული
    ინფორმაცია. თქვენ ასევე შეგიძლიათ მოითხოვოთ ამ მონაცემების წაშლა, გარდა იმ
    ინფორმაციისა, რომელიც ჩვენ ვალდებული ვართ შევინახოთ ადმინისტრირების
    მიზნებისათვის, კანონის თანახმად, ან უსაფრთხოების მიზნით.
  </p>
  <h3>სად იგზავნება თქვენი მონაცემები</h3>
  <p>
    <span>შემოთავაზებული ტექსტი:</span> მომხმარებლების კომენტარები შესაძლოა ავტომატურად
    შემოწმდეს სპამის გამოვლენის სერვისით.
  </p>
</section>
